.login-block{
  width: 90%;
  padding : 50px 0;
  position: absolute;
  left: 10%;
  right: 10%;
  }
  .container{background:rgba(224, 153, 0, 0.897); border-radius: 50px; width: 20%; height: 40%;}
  .login-sec{padding: 50px 30px; position:relative;}
  .text-uppercase{font-weight: bold; font-family: sans-serif; }
  .btnRegister{
    text-align: center;
    float: right;
    margin-top: 1%;
    border: none;
    border-radius: 1rem;
    padding: 2%;
    background: #2f5dc0;
    box-shadow: 18 18 18px #3b5998;
    color: white;
  }