<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
  <legend> <h4 class="textcenter">Selecciona el servicio:</h4></legend>
  <div class="form-group">
    <br><br><br>
    <div>
        <img class="imgleft" src="https://image.ibb.co/cC5Y2q/volkswagen-car-side-view-2.png" alt="ServExpress" routerLinkActive="active-link" routerLink="/page1">
        <img class="imgcenter" src="https://image.ibb.co/mc2KaA/toolbox.png" alt="Reparacion" routerLinkActive="active-link" routerLink="/page2">
        <img class="imgright" src="https://image.ibb.co/jKvrNq/agenda.png"  alt="Tramites" routerLinkActive="active-link" routerLink="/page3">
    </div>
</div>
