<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
      <img src="https://image.ibb.co/dtvt3L/casanova-renta-de-autos-24.jpg" alt="casanova-renta-de-autos-24">
		<h2>Para nosotros es muy importante tu opinion, por favor ayudanos a calificar el servicio!!</h2>
	</div>
    <form class="form-horizontal">
<fieldset>

<!-- Form Datos Personales -->
<legend>Datos Personales</legend>

    <!-- Text Nombres-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_nombre">Nombre (s)</label>  
  <div class="col-md-4">
  <input id="id_nombre" name="id_nombre" type="text" placeholder="Juan Antonio" class="form-control input-md" required=""> 
  </div>
</div>
    <!-- Text Apellidos-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_apellido">Apellidos</label>  
  <div class="col-md-4">
  <input id="id_apellido" name="id_apellido" type="text" placeholder="Sanchez Pliego" class="form-control input-md" required=""> 
  </div>
</div>
<!-- Genero -->
<div class="form-group">
    <label class="col-md-4 control-label" for="generos">Genero</label>
    <div class="col-md-4">
    <div class="radio">
      <label for="generos-0">
        <input type="radio" name="generos" id="generos-0" value="hombre" checked="checked">
        Hombre
      </label>
      </div>
    <div class="radio">
      <label for="generos-1">
        <input type="radio" name="generos" id="generos-1" value="mujer">
        Mujer
      </label>
    </div>
    </div>
  </div>
<!-- No. de Servicio-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_identidad">No. Servicio</label>  
  <div class="col-md-5">
  <input id="id_identidad" name="id_identidad" type="text" placeholder="012345678AB" class="form-control input-md" required="">
  </div>
</div>

<!-- Correo-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_email">Correo Electronico</label>  
  <div class="col-md-4">
  <input id="id_email" name="id_email" type="email" placeholder="correo@correo.com" class="form-control input-md">
  </div>
</div>

<!-- Telefono-->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_cel">Celular/Telefono</label>  
  <div class="col-md-4">
  <input id="id_cel" name="id_cel" type="tel" placeholder="55-1234-9876" class="form-control input-md">
  </div>
</div>

<!-- Institucion -->
<div class="form-group">
  <label class="col-md-4 control-label" for="id_institucion">Institución</label>  
  <div class="col-md-6">
  <input id="id_institucion" name="id_institucion" type="text" placeholder="CFE, EKAROS, etc" class="form-control input-md">
  <small class="help-block">**Omita si no pertenece a alguna**</small>  
  </div>
</div>
<a class="btn btn-primary" routerLinkActive="active-link" routerLink="/indexh">Siguiente</a>
</fieldset>
</form>
</div>