<div class="row">
    <p class="aligncenter">
        <img src="https://image.ibb.co/dtvt3L/casanova-renta-de-autos-24.jpg" alt="casanova-renta-de-autos-24">
    </p>
</div>
        <nav class="navbar navbar-dark bg-inverse">
                <div class="container">
                    <div class="aligncenter">
                            <ul class="nav navbar-nav" routerLinkActive="active">
                                <li class="nav-item"><a class="nav-link" routerLink="/indexh">Inicio</a></li>
                                <li class="nav-item"><a class="nav-link" routerLink="/page1">Pregunta 1</a></li>
                                <li class="nav-item"><a class="nav-link" routerLink="/page2">Pregunta 2</a></li>
                                <li class="nav-item"><a class="nav-link" routerLink="/page3">Pregunta 3</a></li>
                                <li class="nav-item"><a class="nav-link" routerLink="/page4">Pregunta 4</a></li>
                                <li class="nav-item"><a class="nav-link" routerLink="/page5">Pregunta 5</a></li>
                            </ul>
                    </div>
                </div>
            </nav>
 


<router-outlet></router-outlet>
